<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="MCCITGIT" value="https://nuget.pkg.github.com/MCCITGIT/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <MCCITGIT>
      <add key="Username" value="MCCITADMIN" />
      <add key="ClearTextPassword" value="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" />
    </MCCITGIT>
  </packageSourceCredentials>
</configuration>
